@use './fonts';

@mixin footerStyle {
    position:fixed;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;

    .showFooterBtn{
        display: none;
    }

    .hideFooterList{
        height: 0rem;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .footerList{
        @include fonts.footer;
        width: 100%;
        height: 14rem;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: space-around;
        text-align: center;
        list-style-type: none;
        transition: all 0.3s ease-in-out;
    }

    .footerList * {
        cursor: pointer;
        margin-bottom: 0.2rem;
        transition: color 0.5s linear;
    }

    .footerList > li:hover{
        text-decoration: underline;
        color: yellow;
    }


    @media only screen and (max-width: 600px) {

        .showFooterBtn{
            display: flex;
            text-align: center;
            background-color: green;
        }

        .footerList{
            display: flex;
            flex-direction: column;
        }

    }

}