@use './fonts';

@mixin menuStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10%;
    width: 100%;

    * {
        @include fonts.overViewHeader;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
    }

    a:link, a:visited{
        text-decoration: none;
        color: black;
    }

    img{
        height: 7rem;
        object-fit: scale-down;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}