@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

@mixin navbarStyle {
    background-color: white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 1rem;
    background-image: linear-gradient(to bottom, yellow, black);

    .head{
        text-decoration: none;
        font-size: 2rem;
        letter-spacing: 0.7rem;
        font-family: 'Antonio';
    }

    .electronics{
        color: blue
    }

    .shop{
        color:red;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .searchBar {
        width: 85%;
        height: 2rem;
        font-size: 2rem;
        align-self: center;
    }

    .cartIcon,
    .menuIcon {
        width: 4rem;
        height: 4rem;
        color: blue;
    }



    .cartIcon {
        position: relative;
        transform: scaleX(-1);
    }

    .cartCount {
        position: absolute;
        right: 0;
        transform: translate(-1.2rem, 0.1rem);
        color: white;
        background-color: rgb(161, 13, 0);
        width: 1rem;
        height: 1rem;
        padding: 0.3rem;
        border-radius: 100%;
    }
}