@use './fonts';


@mixin navbarStyle {
    $icons-size: 3rem;
    $header-font-size: 3rem;
    $header-color: white;
    $header-shadow-color: rgb(211, 0, 204);
    $cart-count-size: 15px;
    

    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0.3rem;
    background-color: black;

    @keyframes glow {
        0% {
            text-shadow: 
            0 0 10px $header-shadow-color,
            0 0 20px $header-shadow-color,
            0 0 30px $header-shadow-color,
            0 0 40px $header-shadow-color,
            0 0 50px $header-shadow-color;
            color: $header-shadow-color;
        }
        100% {
            text-shadow: 
            0 0 0px $header-shadow-color;
        }
    }



    .head {
        @include fonts.navbarHeaderFont; 
        color: $header-color;
        width: 100%;
        text-decoration-line: none;
        font-size: $header-font-size;
        letter-spacing: 2vw;
        animation: glow 3s ease-in-out infinite alternate;
    }



    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .searchBar {
        width: 85%;
        height: 2rem;
        font-size: 1.5rem;
        align-self: center;
    }

    .cartIcon,
    .menuIcon {
        width: $icons-size;
        height: $icons-size;
        color: rgb(0, 0, 151);
    }



    .cartIcon {
        position: relative;
        transform: scaleX(-1);
    }

    .cartCount {
        position: absolute;
        transform: translate(-2.1rem, -0.1rem);
        color: white;
        background-color: rgb(234, 30, 12);
        border: #2EC4B6 solid 3px;
        font-size: $cart-count-size;
        width: $cart-count-size;
        border-radius: 100%;
    }

    .cartSummary{
        border: 2px dashed black;
        justify-content: center;
        z-index: 1;
        background-color: rgb(255, 217, 45);
        width: 100vw;
    }

    @media only screen and (max-width: 600px) {
        .head{
           letter-spacing: 1vw;
        }
    }
}