@use './fonts';
@use './colors';

@mixin navbarStyle {
    $icons-size: 3rem;
    $header-font-size: 3rem;
    $header-color: colors.$navbar-header-initial;
    $header-shadow-color: colors.$navbar;
    $cart-count-size: 1rem;
    

    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0.3rem;
    background-color: colors.$navbar-bg;

    @keyframes glow {
        0% {
            text-shadow: 
            0 0 10px $header-shadow-color,
            0 0 20px $header-shadow-color,
            0 0 30px $header-shadow-color,
            0 0 40px $header-shadow-color,
            0 0 50px $header-shadow-color;
            color: $header-shadow-color;
        }
        100% {
            text-shadow: 
            0 0 0px $header-shadow-color;
        }
    }



    .head {
        @include fonts.navbarHeaderFont; 
        color: $header-color;
        width: 100%;
        text-decoration-line: none;
        font-size: $header-font-size;
        letter-spacing: 2vw;
        animation: glow 3s ease-in-out infinite alternate;
    }



    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .searchBar {
        width: 85%;
        height: 2rem;
        font-size: 1.5rem;
        align-self: center;
    }

    .cartIcon,
    .menuIcon {
        width: $icons-size;
        height: $icons-size;
        color: colors.$navbar;
    }



    .cartIcon {
        position: relative;
        transform: scaleX(-1);
    }

    .cartCount {
        @include fonts.navbarHeaderFont;
        position: absolute;
        transform: translate(-2rem, 0.1rem);
        color: colors.$cart-count;
        background-color: colors.$cart-count-bg;
        font-size: $cart-count-size;
        width: $cart-count-size;
        border-radius: 10px 0 10px 10px;
    }

    .cartSummary{
        border: 2px dashed colors.$cart-summary-border;
        justify-content: center;
        z-index: 1;
        color: colors.$cart-summary;
        background-color: colors.$cart-summary-bg;
        width: 100vw;
    }

    @media only screen and (max-width: 600px) {
        .head{
           letter-spacing: 1vw;
        }
    }
}