@mixin navbarStyle {

    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    .navigation{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .searchBar{
        width: 85%;
        height: 2rem;
        font-size: 2rem;
        align-self: center;
    }

    .cartIcon, .menuIcon {
        width: 4rem;
        height: 4rem;
    }


    .cartIcon{
        position: relative;
        transform: scaleX(-1);
    }

    .cartCount{
        position: absolute;
        right: 0;
        transform: translate(-1rem, 1.5rem);
        color: white;
        background-color: green;
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;
        border-radius: 100%;
    }
}