@use './fonts';

@mixin overviewStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    margin-bottom: 4rem;

    a:link, a:visited{
        text-decoration: none;
        font-style: oblique;
    }

    a:link, a:visited {
        color: blue;
    }

    .overviewContainer{
        display: flex;
        flex-direction: column;
        flex-basis: 15%;
        justify-content: space-between;
        position: relative;
        margin: 2rem;
    }

    .itemHeader{
        @include fonts.overViewHeader;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.7rem;
    }

    .itemPrice{
        align-self: center;
        font-family:Arial, Helvetica, sans-serif;
    }

    .favBtn{
        color: gold;
    }

    .overviewControl{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: blue;
    }

    .overviewControl *{
        background-color: white;
        border-radius: 35px;
    }

    .quantityCount{
        font-size: 2rem;
    }

    img {
        width: 7rem;
        align-self: center;
    }

    .remBtn{
        color: red;
    }
    
    .plusBtn,
    .minusBtn,
    .remBtn,
    .addRemBtns,
    .overviewHeader,
    .favBtn {
        cursor: pointer;
    }
}