@mixin overviewStyle {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;

    .cartSummary{
        border: 2px dashed black;
        position: sticky;
        top: 5rem;
        z-index: 1;
        padding: 0.5rem 1rem;
        background-color: rgb(255, 217, 45);
        width: 200%;
        justify-content: center;
        align-self: center;
    }

    a:link, a:visited{
        text-decoration: none;
        font-style: oblique;
        font-size: 1rem;
    }

    a:visited{
        color: red;
    }

    a:link {
        color: blue;
    }

    .overviewContainer{
        display: flex;
        position: relative;
        justify-content: center;
        margin: 2rem;

    }

    .overviewHeader{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .favBtn{
        color: gold;
        display: flex;
        position: absolute;
        top: 0;
        right: -25vw
    }

    .overviewControl{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        color: blue;
    }

    .overviewControl *{
        background-color: white;
    }

    .quantityCount{
        width: 4rem;
        font-size: 2rem;
    }

    img {
        width: 50vw;
        margin-bottom: 4rem;
    }
}