@use './navbar' as *;
@use './menu' as *;
@use './overview' as *;
@use './item' as *;
@use './footer' as *;



body, * {
    margin: 0;
    padding: 0;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    @include navbarStyle;
}

.Menu {
    @include menuStyle;
}

.Overview {
    @include overviewStyle;
}

.Item {
    @include itemStyle;
}

.Footer {
    @include footerStyle;
}