@use './navbar' as *;
@use './menu' as *;
@use './overview' as *;
@use './item' as *;
@use './footer' as *;



body, * {
    margin: 0;
    padding: 0;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    //preventing blue color around elements on clicking
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App:focus{
    outline: none !important;
}

.Navbar {
    @include navbarStyle;
}

.Menu {
    @include menuStyle;
}

.Overview {
    @include overviewStyle;
}

.Item {
    @include itemStyle;
}

.Footer {
    @include footerStyle;
}